<h1>New Product</h1>
  <form action="/products" method="post">
    <div>
      Name: <input type="text" name="input_name">
    </div>
    <div>
      Price: <input type="text" name="input_price">
    </div>
    <div>
      Description: <input type="text" name="input_description">
    </div>
    <div>
      Supplier_id: <input type="text" name="supplier_id">
    </div>
    <div>
      Image url: <input type="text" name="input_image_url">
    </div>
    <input type="submit" value="Create product">
  </form>

